.scrollable {
    height: 100vh;
    width: 100vw;
    overflow: auto;
}


.features-page section{
    overflow: hidden;
    width: auto;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-end;
    /* border: 0.1rem solid white; */
}
section .words{
    max-width: 50vw;
    padding: 0;
}
section .img-div{
    overflow: hidden;
}
