:root{
    --header-font-size: 10vh;
    --p-font-size: 2.5vh;
    --p-font-weight: 100;
}



.text{
    /* position: absolute; */
    /* top: 0;
    bottom: 0; */
    color: var(--first-color);
    padding: 2vh;
    z-index: 10;
}
.text .header{
    font-size: var(--header-font-size);
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 3vw;
}
.detail-list{
    list-style-type: none;
    font-family: var(--p-font-family);
    font-size: var(--p-font-size);
}
.detail-list .detail{
    margin-bottom: 1vh;
}


.features-page section{
    position: relative;
    height: 100vh;
}
section .words{
    position: absolute;
    z-index: 10;
    max-width: 50vw;
    /* border: 0.1rem solid white; */
}
section img{
    position: absolute;
    padding: 3vh;
}