*{
    margin: 0;
    padding: 0;
    background-color: hsl(100, 0%, 10%);
    box-sizing: border-box;
}

.panel{
    font-size: 0;
    position: absolute;
    top: 20vh;
    right: 0vw;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 0.5rem solid white;
    
    */
    width: 50vw;
    height: 60vh;
}
.panel.top{
    z-index: 1;
    pointer-events: none;
}
.box.hidden{
    opacity: 0;
}
.thumbnail{
    width: inherit;
    height: inherit;
    background-image: url("./img/glider_thumbnail.PNG");
    background-size: cover;
    opacity: 0;
}

