:root{
	--first-color: hsl(100, 0%, 96%);
    --second-color: hsl(100, 0%, 12%);
    --p-font-family: 'Open Sans Condensed', 'cursive';
}

body {
    background-color: var(--second-color);
}

.page-container{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--second-color);
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.intro{
    width: 40vw;
    min-width: 30rem;
    height: 45vh;
    /* border: 0.1rem solid white; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.intro .description{
    color: var(--first-color);
    /* border: 0.1rem solid white; */
}
.intro .description *{
    font-size: 3vh;
    font-weight: 100;
    margin: 1vh;
    font-family: var(--p-font-family);
}
.description.name-bundle{
    margin-left: 5vw;
    margin-top: 8vh;
}
.description .name {
    font-weight: 800;
    font-size: 15vh;
    margin: -12vh;
    font-family: 'Shadows Into Light', cursive;
}
.description .icon {
    margin: 0;
}


.feature{
    position: relative;
    width: 45vw;
    min-width: 35rem;
    height: 45vh;
    /* border: 0.5rem solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel{
    font-size: 0;
    position: absolute;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel.top{
    z-index: 1;
    pointer-events: none;
}
.box.hidden{
    opacity: 0;
}
.thumbnail{
    width: inherit;
    height: inherit;
    background-size: cover;
    opacity: 0;
    overflow: hidden;
    /* filter: grayscale(100%); */
}


a.button{
    display:inline-block;
    padding:0.5em 2em;
    border:1px solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
}
a.button:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
}

a.button:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
}
@media all and (max-width:30em){
    a.button3{
        display:block;
        margin:0.2em auto;
    }
}